body{
text-align: center;
  margin: 0;

  font-family: 'Sansita Swashed', cursive;
}


canvas{
  position: absolute;
  z-index: -1;
  margin: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
}

h1{
  /* margin: 0; */
  color: #41aea9;

}
p{
  font-family: 'Lato', sans-serif;
  margin: 0 20px 40px;;
  color: #213e3b;
}


.bg{
  display: inline-block;
  margin: 0;
  background-color: rgba(255,255,255, .8);
  width: 60%;
  height: 80%;
  border-radius: 5px;
  margin-top: 200px;
  box-shadow: 0 0 40px  rgba(0,0,0,.2);
  transition: .5s;
}
.bg:hover{
  box-shadow: 0 0 50px  rgba(0,0,0,.6);
  width: 62%;
}
